{{ 'section-collection-list-custom.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="featured-products">
  <h2 class="featured-header">Featured products</h2>
  <div class="featured-products__list">
    {% if section.settings.collection %}
      {% for product in section.settings.collection.products %}
        <div class="featured-products__item">
          <a class="featured-products__item-link" href="{{ product.url }}">
            <img class="featured-products__item-img" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
          </a>
          <div class="featured-products__button-container">
            <p class="featured-products__item-text">{{ product.title }}</p>
            <button class="add-to-cart" data-product-id="{{ product.selected_or_first_available_variant.id }}">
              Add to cart - {{ product.price | money }}
            </button>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No collection selected.</p>
    {% endif %}
  </div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".add-to-cart").forEach(button => {
      button.addEventListener("click", async function () {
        let productId = this.dataset.productId;

        try {
          let response = await fetch('/cart/add.js', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: productId, quantity: 1 })
          });

          if (!response.ok) throw new Error("❌ Unable to add product!");

          let data = await response.json();
          console.log("✅ Додано в кошик:", data);

          let cartResponse = await fetch('/cart.js');
          let cart = await cartResponse.json();
          let cartCount = document.querySelector(".cart-count-bubble");

          if (cartCount) {
            cartCount.innerText = cart.item_count;
          }

          let cartNotification = document.getElementById("cart-notification");
          if (cartNotification) {
            cartNotification.classList.add("active");

            setTimeout(() => {
              cartNotification.classList.remove("active");
            }, 5000);
          }
        } catch (error) {
          console.error(error);
          alert("Error!");
        }
      });
    });
  });
</script>




